.debug#site_header {
    height: 50px;
    background-color: red;
}



.debug#site_footer {
    
   
}


form.debug {
    height: 300px;
    width: 100%;
    background-color: yellow;
    
}
.contact {
    & .content{

        width: 70%;
    }
}

.about {
    & .content{
        width: 70%;
    }
}