/* color palette */
:root {
    --primary_color: #2c3e50;
}

form.debug {
    height: 300px;
    width: 100%;
    background-color: yellow;
    
}

header {
    > nav {
        background-color: var(--primary_color);
    }

   
 }   
    
 


.about {
    & .content{
        width: 70%;
    }
}
.contact {
    & .content{
        width: 70%;
    }
}
